---
http_interactions:
- request:
    method: post
    uri: https://api.kairos.com/enroll
    body:
      encoding: UTF-8
      string: '{"gallery_name":"test_gallery","image":"test_image","subject_id":"Test User"}'
    headers:
      app_id:
      - test_app_id
      app_key:
      - test_app_key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
      job-id:
      - 189b6f66e1fb4925973
    body:
      encoding: ASCII-8BIT
      string: '{"face_id":"189b6f66e1fb4925973","images":[{"attributes":{"age":33,"asian":0.00151,"black":0.00024,"gender":{"femaleConfidence":0,"maleConfidence":1,"type":"M"},"glasses":"None","hispanic":0.01141,"lips":"Together","other":0.00057,"white":0.98627},"transaction":{"confidence":0.99919,"eyeDistance":74,"face_id":"189b6f66e1fb4925973","gallery_name":"test_gallery","height":224,"image_id":1,"pitch":10,"quality":0.0776,"roll":-4,"status":"success","subject_id":"Test
        User","timestamp":"20191018221646","topLeftX":147,"topLeftY":86,"version":2,"width":175,"yaw":15}}]}

        '
  recorded_at: Fri, 18 Oct 2019 22:16:46 GMT
recorded_with: VCR 5.0.0
