---
http_interactions:
- request:
    method: post
    uri: https://api.kairos.com/gallery/view_subject
    body:
      encoding: UTF-8
      string: '{"gallery_name":"test_gallery","subject_id":"Test User"}'
    headers:
      app_id:
      - test_app_id
      app_key:
      - test_app_key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
      job-id:
      - 4e8d45be3a64434f984
    body:
      encoding: UTF-8
      string: '{"face_ids":[{"enrollment_timestamp":"20191018221646","face_id":"189b6f66e1fb4925973"}],"status":"Complete"}

        '
  recorded_at: Sat, 19 Oct 2019 18:49:13 GMT
recorded_with: VCR 5.0.0
