---
http_interactions:
- request:
    method: get
    uri: https://api.kairos.com/v2/analytics/adb2d1d66b9adddb06b81889
    body:
      encoding: US-ASCII
      string: ''
    headers:
      app_id:
      - test_app_id
      app_key:
      - test_app_key
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adb2d1d66b9adddb06b81889","media_info":{"length":12,"type":"video","filename":"adb2d1d66b9adddb06b81889.flv","mime_type":"video\/x-flv"},"impressions":[{"person_id":0,"tracking":{"glances":2,"dwell":5,"attention":100},"demographics":{"age_group":"Young
        Adult","gender":"Male"},"appearance":{"glasses":"No"},"average_emotion":{"anger":0,"sadness":17.524,"fear":0.685,"disgust":35.614,"joy":47.86,"surprise":0},"emotion_score":{"positive":48.86,"negative":14.456,"neutral":34.404}}]}'
  recorded_at: Sat, 19 Oct 2019 20:38:56 GMT
recorded_with: VCR 5.0.0
