---
http_interactions:
- request:
    method: post
    uri: https://api.kairos.com/gallery/remove_subject
    body:
      encoding: UTF-8
      string: '{"gallery_name":"dupa","subject_id":"Mateusz Urbański"}'
    headers:
      app_id:
      - test_app_id
      app_key:
      - test_app_key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
      job-id:
      - 8ce7e8eb534f48c4ae0
    body:
      encoding: ASCII-8BIT
      string: '{"status":"Complete", "message": "subject id Test User has been successfully removed"}'
  recorded_at: Sat, 19 Oct 2019 18:56:34 GMT
recorded_with: VCR 5.0.0
