---
http_interactions:
- request:
    method: post
    uri: https://api.kairos.com/verify
    body:
      encoding: UTF-8
      string: '{"gallery_name":"test_gallery","image":"test_image","subject_id":"Test User","selector":null}'
    headers:
      app_id:
      - test_app_id
      app_key:
      - test_app_key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
      job-id:
      - f49273bf3540407b864
    body:
      encoding: ASCII-8BIT
      string: '{"images":[{"transaction":{"confidence":1,"enrollment_timestamp":"20191018221646","eyeDistance":74,"face_id":"189b6f66e1fb4925973","gallery_name":"test_gallery","height":224,"pitch":10,"quality":0.0776,"roll":-4,"status":"success","subject_id":"Test
        User","topLeftX":147,"topLeftY":86,"width":175,"yaw":15}}]}

        '
  recorded_at: Fri, 18 Oct 2019 22:40:31 GMT
recorded_with: VCR 5.0.0
